# 工作流名称
name: Sync-Images-to-ALIYUN-ACR
# 工作流运行时显示名称
run-name: ${{ github.actor }} is Sync Images to ALIYUN-ACR.
# 怎样触发工作流
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# 工作流程任务（通常含有一个或多个步骤）
jobs:
  syncimages:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repos
      uses: actions/checkout@v3

    # 1. 登录 Docker Hub (关键！解决拉取报错)
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: docker.io
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        logout: false

    - name: Login to ALIYUN-ACR
      uses: docker/login-action@v3
      with:
        registry: crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com
        username: ${{ secrets.ALIYUN_USERNAME }}
        password: ${{ secrets.ALIYUN_PASSWORD }}
        logout: false 
        
    - name: Use Skopeo Tools Sync Image to ALIYUN-ACR
      run: |
        #!/usr/bin/env bash
        skopeo copy docker://docker.io/bitnamilegacy/postgresql:16.4.0-debian-12-r9 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/postgresql:16.4.0-debian-12-r9
        skopeo copy docker://docker.io/bitnamilegacy/redis:7.4.0-debian-12-r4 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/redis:7.4.0-debian-12-r4
        skopeo copy docker://docker.io/bitnamilegacy/rabbitmq:3.13.7-debian-12-r5 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/rabbitmq:3.13.7-debian-12-r5
        skopeo copy docker://docker.io/polyaxon/polyaxon-api:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-api:2.11.1
        skopeo copy docker://docker.io/polyaxon/polyaxon-gateway:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-gateway:2.11.1
        skopeo copy docker://docker.io/polyaxon/polyaxon-streams:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-streams:2.11.1
        skopeo copy docker://docker.io/polyaxon/polyaxon-operator:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-operator:2.11.1
        skopeo copy docker://docker.io/polyaxon/polyaxon-agent:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-agent:2.11.1
        skopeo copy docker://docker.io/polyaxon/polyaxon-init:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-init:2.11.1
        skopeo copy docker://docker.io/polyaxon/polyaxon-sidecar:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-sidecar:2.11.1
        skopeo copy docker://docker.io/polyaxon/polyaxon-cli:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-cli:2.11.1
        skopeo copy docker://docker.io/polyaxon/polyaxon-hpsearch:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-hpsearch:2.11.1
        skopeo copy docker://docker.io/polyaxon/polyaxon-events-handlers:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-events-handlers:2.11.1
        skopeo copy docker://docker.io/polyaxon/polyaxon-scheduler:2.11.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/polyaxon-scheduler:2.11.1
        skopeo copy docker://registry.k8s.io/ingress-nginx/controller:v1.10.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/controller:v1.10.1
        skopeo copy docker://registry.k8s.io/ingress-nginx/kube-webhook-certgen:v1.4.1 docker://crpi-cf3skza02u86mj4q.cn-chengdu.personal.cr.aliyuncs.com/k8s_mirror_hong/kube-webhook-certgen:v1.4.1