# 工作流名称
name: Sync-Images-to-ALIYUN-ACR
# 工作流运行时显示名称
run-name: ${{ github.actor }} is Sync Images to ALIYUN-ACR.
# 怎样触发工作流
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# 工作流程任务（通常含有一个或多个步骤）
jobs:
  syncimages:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repos
      uses: actions/checkout@v3
      
    - name: Login to ALIYUN-ACR
      uses: docker/login-action@v3
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: ${{ secrets.ALIYUN_USERNAME }}
        password: ${{ secrets.ALIYUN_PASSWORD }}
        logout: false
        
    - name: Use Skopeo Tools Sync Image to ALIYUN-ACR
      run: |
        #!/usr/bin/env bash
        skopeo copy docker://gcr.io/kaniko-project/executor:v1.13.0 docker://registry.cn-hangzhou.aliyuncs.com/k8s_mirror_hong/kaniko-executor:v1.13.0
 
